body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  background-color: #86BC25; /* Green */
  border: none;
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 60px;
  width: 250px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  button  {width:180px;}
}
button {
  background-color: white; 
  color: black; 
  border: 2px solid #86BC25;
  border-radius: 4px;
  white-space: normal;
  vertical-align: top;
}

button:hover {
  background-color: #d4d1d1;
  color: white;
}
.tooltipIcon{
  width: 15px;
  height: 15px;
  margin-Top: 25px;
  margin-Left:5px;
}
.buttonIcon{
  margin-Top:10px;
  width: 25px;
  height: 25px;
}
.tooltipCheckBox{
  width: 15px;
  height: 15px;
  margin-Left: 8px;
  margin-Bottom: 5px;
}